@{
    ViewBag.Title = "About";
}
<h2>About TECHSPO Technology Expos.</h2>
<h3>Where Business, Tech and Innovation Collide!</h3>

<p>TECHSPO brings together developers, brands, marketers, technology providers, designers, innovators and evangelists looking to set the pace in our advanced world of technology. Showcasing the next generation of technology & innovation; Internet, Mobile, Adtech, Martech and SaaS technologies and much, much more!, Exhibitors have the opportunity to show off their companies to thousands of consumers, the highest caliber investors, hordes of press, the most sought after talent, and the greatest pool of tech enthusiasts looking to celebrate emerging venture. Be prepared to be inspired, amazed and educated on how these evolving technologies will impact your business for the better..</p>
