@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font-size: 50px;">Where Business, Tech and Innovation Collide!</h1>
    <img src="~/Images/home.png" style="width: 1000px;" />
    <form action="/Home/Login" method="get">
        <button class="btn btn-primary btn-lg" style="margin-top: 50px;">LogIn</button>
    </form>
</div>

